{
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "comma-dangle": 0,
    "react-hooks/rules-of-hooks": "error"
  },
  "plugins": [
    "react-hooks",
    "@typescript-eslint"
  ],
	"parserOptions": {
    "ecmaVersion": 2018,
		"sourceType": "module",
    "allowImportExportEverywhere": false
  }
}
