{
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "comma-dangle": 0,
    "react-hooks/rules-of-hooks": "error"
  },
  "plugins": [
    "react-hooks"
  ],
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module",
    "allowImportExportEverywhere": false
	}
}
