:root {
  --bp-desktop: 1024px;
  --container-width-desktop: 1024px;

  --neutral-white: #fff;

  --primary-pink: #ea7a88;
  --primary-blue: #66c8d4;
  --primary-dark-blue: #444457;
  --primary-opaque-blue: #444457;
  --primary-purple: #7d697d;
}
