:global(.header) {
  border: 5px solid #bada55;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
}

:global(.user-dropdown) {
  grid-column-end: -1;
}
